.tile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .tile {
    background-color: #CFCBC8;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex-basis: calc(100% / var(--num-tiles));
    max-width: calc(100% / var(--num-tiles));
  }
  
  .tile .header {
    background-color: #072448;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: '200';
  }
  
  .tile .value {
    /* background-color: #8ea8a446; */
    color: #072448;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    overflow: hidden;
    white-space: normal;
    min-height: 30px;
    text-align: justify;
    height: 100%; /* Set the height of the value section to 100% */
    font-family: 'Roboto', sans-serif;
    font-weight: '100';
    box-sizing: border-box;
  }
  
  
  
  
  
  .tile h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .tile p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  